/hello-world/bin
/hello-world/obj
/task-if-nro2/bin
/task-if-nro2/obj
/task/bin
/task/obj
/Task5/Task5/bin
/Task5/Task5/obj
/task4/task4/obj
/task4/task4/bin
/task3/task3/bin
/task3/task3/obj
/if-tasks/if-task-nro1/bin
/if-tasks/if-task-nro1/obj
/if-tasks/if-task-nro2/obj
/if-tasks/if-task-nro2/bin
/if-tasks/if-task-nro3/obj
/if-tasks/if-task-nro3/bin
/if-tasks/if-task-nro4/bin
/if-tasks/if-task-nro4/obj
/if-tasks/if-task-nro5/obj
/if-tasks/if-task-nro5/bin
/if-tasks/if-tasks/obj
/if-tasks/if-tasks/bin
/LoopTask1/LoopTask1/bin
/LoopTask1/LoopTask1/obj
/LoopTask1/LoopTask2/bin
/LoopTask1/LoopTask2/obj
/LoopTask1/LoopTask3/bin
/LoopTask1/LoopTask3/obj
/LoopTask1/LoopTask4/bin
/LoopTask1/LoopTask4/obj
